In [46]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

1. Implementar el algoritmo de clasificación KNN. Valide con los datos del problema 1 (el de calentamiento).

In [2]:
X = np.array([[0.8, 0.8], [0.8, 1.2], [3.8, 2.8], [4.2, 3.2], [1, 1], [1.2, 1.2], [4.2, 2.8], [4.4, 2.8], 
              [3.5, 1], [4, 1],[3.8, 0.5], [4, 0.7]])
Y = np.array([1, 1, 2, 2, 1, 1, 2, 2, 3, 3, 3, 3])

In [4]:
data = pd.DataFrame(X, columns=['x1', 'x2'])
data['y'] = Y
data.head()

    x1   x2  y
0  0.8  0.8  1
1  0.8  1.2  1
2  3.8  2.8  2
3  4.2  3.2  2
4  1.0  1.0  1

In [38]:
X = data[['x1', 'x2']]
y = data['y']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [16]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
predictions = knn.predict(X_test)

/Users/camilawhite/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [17]:
predictions

array([2, 2, 1, 2])

In [22]:
print("Accuracy:",metrics.accuracy_score(y_test, predictions))

Accuracy: 0.25

2. Para este ejercicio use la base de datos DatosFisher.xlsx disponible en la página del curso.

In [63]:
dataFisher = pd.read_excel('DatosFisher.xlsx', skiprows=1)
dataFisher.head()

,sexo,estatura,peso,longitudpie,longitudbrazo,anchuraespalda,diametrocraneo,longitudrodillatobillo
0,0,159,49,36.0,68.0,42.0,57.0,40.0
1,1,164,62,39.0,73.0,44.0,55.0,44.0
2,0,172,65,38.0,75.0,48.0,58.0,44.0
3,1,167,52,37.0,73.0,41.5,58.0,44.0
4,1,164,51,36.0,71.0,44.5,54.0,40.0

In [42]:
X = dataFisher.drop(['sexo'], axis=1)
y = dataFisher['sexo']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [64]:
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, y_train)
predictions = knn.predict(X_test)

In [65]:
predictions

array([1, 1, 0, 0, 0, 1, 0, 0, 0])

In [66]:
print("Accuracy:",metrics.accuracy_score(y_test, predictions))

Accuracy: 0.7777777777777778

3. Seleccione el k para el cual el error de entrenamiento sea mínimo. k =?

In [49]:
for k in range(1,10):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    predictions = knn.predict(X_test)
    print("Accuracy for", k, "is: ", metrics.accuracy_score(y_test, predictions))

Accuracy for 1 is:  0.8888888888888888
Accuracy for 2 is:  0.5555555555555556
Accuracy for 3 is:  0.6666666666666666
Accuracy for 4 is:  0.7777777777777778
Accuracy for 5 is:  0.8888888888888888
Accuracy for 6 is:  0.5555555555555556
Accuracy for 7 is:  0.7777777777777778
Accuracy for 8 is:  0.6666666666666666
Accuracy for 9 is:  0.8888888888888888

El k para el cual el error de entrenamiento es mínimo, es k=5.